.site-footer{
	@include linearGradient(#001332, #0c4d78);
	.site-info{
		padding: 35px 0;
		width: 90%;
		max-width: 1100px;
		margin: 0 auto;
		display: block;
		text-align: center;
		.logo{
			display: inline-block;
			vertical-align: top;
			width: 24%;
			height: 195px;
		}
		.contact{
			display: inline-block;
			font-family: $work;
			font-weight: 700;
			color: white;
			font-size: 18px;
			border-left: 1px solid white;
			padding: 25px 30px; 
			margin: 0;
			width: 30%;
			text-align: left;
			padding-left: 25px;
			height: 195px;
			.top{
				margin-bottom: 20px;
				padding-bottom: 15px;
				border-bottom: 1px solid white;
			}
			.bottom{
				font-size: 25px;
				line-height: 22px;
				a{
					font-size: 18px;
					color: white;
					opacity: .5;
					text-decoration: underline;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
		.footer-nav{
			display: inline-block;
			vertical-align: top;
			width: 20%;
			text-align: left;
			padding-left: 25px;
			border-left: 1px solid white;
			height: 195px;
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					padding: 10px 0;
					a{
						color: white;
						font-family: $work;
						font-weight: 700;
						color: white;
						font-size: 18px;
					}
				}
			}
		}
		.quote{
			display: inline-block;
			vertical-align: top;
			width: 24%;
			text-align: left;
			padding-left: 25px;
			border-left: 1px solid white;
			height: 195px;
			h1{
				font-size: 20px;
				margin-bottom: 15px;
				letter-spacing: -1px;
				font-weight: 700;
				text-transform: uppercase;
				color: white;
			}
			p{
				color: white;
			}
			a{
				padding: 10px 35px;
				background: transparent;
				border: 1px solid white;
				color: white;
				font-family: $work;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 14px;
				margin-top: 10px;
				display: inline-block;
			}			
		}		
	}
}