#content{
	position: relative;
	z-index: 0;
	.row{
		.col-sm-12{
			.master-slider{
				height: 80vh;
				min-height: 400px;
				.ms-container{
					height: inherit;
					min-height: 400px;
					.ms-inner-controls-cont{
						height: inherit;
						min-height: 400px;
						max-width: 100% !important;
						.ms-bullets{
					    bottom: -25px !important;
					    width: 100% !important;
					    left: 0%;
					    right: 0;
					    .ms-bullets-count{
					    	right: 0 !important;
					    	.ms-bullet{
					    		background: #014a6a;
					    		width: 24.65%;
					    		margin: 5px .15% !important;
					    		opacity: .25;
					    		height: 15px;
					    		-webkit-transition: .3s;
					    		-ms-transition: .3s;
					    		-o-transition: .3s;
					    		-moz-transition: .3s;
					    		&.ms-bullet-selected{
					    			opacity: 1;
					    		}
					    	}
					    }
						}
						.ms-view{
							height: inherit !important;
							min-height: 400px;
							left: 0 !important;
							.ms-slide-container{
								height: inherit !important;
								min-height: 400px;
								.ms-slide{
									height: inherit !important;
									min-height: 400px;
									.ms-slide-bgcont{
										img{
											position: relative;
										}
									}
								}
							}
						}
					}
				}
				.ms-slide-info{
			    position: absolute !important;
			    min-height: 100% !important;
			    top: 0;
			    margin-top: 0 !important;
			    width: 70%;
			    right: 0;
			    height: 100%;
			    .ms-info{
						height: 50%;
						width: 100%;
						display: inline-block;
						position: absolute !important;
						z-index: 10;
						color: white;
						text-align: right;
						bottom: 0;
						right: 50px;
						line-height: 60px;
						font-family: $work;
						text-transform: uppercase;
			    	.top{
			    		font-weight: 200;
			    		display: block;
			    		font-size: 45px;
			    	}
			    	.middle{
			    		font-size: 65px;
			    		font-weight: 900;
			    		display: block;
			    		letter-spacing: -1px;
			    	}
			    	.bottom{
			    		font-size: 30px; 
			    		font-weight: 200;
			    		display: block;
			    	}			  
			    	a{
			    		color: white;
			    		font-weight: 700;
			    		font-size: 16px;
			    		opacity: .5;
			    		&:hover{
			    			opacity: 1;
			    			text-decoration: none;
			    		}
			    		&:after{
	    			    content: "\f054";
  			        font: normal normal normal 12px/1 FontAwesome;
  			        display: inline-block;
  			        position: relative;
  			        margin-left: 10px;
			    		}
			    	}  	
			    }
		    	&:after{
				    content: '';
				    background: url(images/blue_bg.png) no-repeat;
				    background-size: 100% 100%;
				    display: inline-block;
				    position: absolute;
				    top: -75%;
				    left: 0;
				    width: 100%;
				    height: 175%;
		    	}			    
				}				
			}
			.content-section{
				background: url(images/pattern.png);
				background-color: black;
				padding: 125px 0;
				text-align: center;
				.text-section{
					display: block;
					margin: 0 auto;
					width: 90%;
					max-width: 800px;
					ul{
						width: 125%;
						left: -12.5%;
						position: relative;
						list-style: none;
						margin: 0;
						padding: 0;
						li{
							width: 33.3%;
							display: inline-block;
							margin: -3px;
							border-right: 1px solid rgba(0,0,0,.15);
							&:last-of-type{
								border-right: none;
							}
							.title{
								font-size: 30px;
								letter-spacing: 0;
								margin-top: 25px;
								margin-bottom: 15px;
								letter-spacing: -1px;
								&:after{
									display: none;
								}
								&:before{
									display: none;
								}
							}
							p{
								width: 90%;
								display: block;
								margin: 0 auto;
							}
						} 
					}
					.title{
						font-family: $work;
						font-weight: 700;
						color: #014a6a;
						text-transform: uppercase;
						font-size: 50px;
						letter-spacing: -2px;
						margin-bottom: 30px;
						position: relative;
						&:before{
					    content: '';
					    position: absolute;
					    left: 13%;
					    top: 12px;
					    height: 50px;
					    display: inline-block;
					    background: url(images/lines.png);
					    width: 100px;
						}
						&:after{
					    content: '';
					    position: absolute;
					    right: 12.5%;
					    top: 12px;
					    height: 50px;
					    display: inline-block;
					    background: url(images/lines.png);
					    width: 100px;
					    -webkit-transform: rotate(180deg);
					    -moz-transform: rotate(180deg);
					    -o-transform: rotate(180deg);
					    -ms-transform: rotate(180deg);
						}						
					}
					p{
						font-family: $helvetica;
						font-size: 14px;
						color: #404040;
						line-height: 35px;
					}
					.button{
						padding: 10px 35px;
						background: #014a6a;
						color: white;
						font-family: $work;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 16px;
						margin-top: 40px;
						display: inline-block;
					}
				}
			}
			.blue_bg{
				background: url(images/middle_bg.png);
				background-attachment: fixed;
				padding: 125px 0;
				background-size: cover;
				text-align: center;
				.text-section{
					display: block;
					margin: 0 auto;
					width: 90%;
					max-width: 800px;
					.title{
						font-family: $work;
						font-weight: 700;
						color: white;
						text-transform: uppercase;
						font-size: 50px;
						letter-spacing: -2px;
						margin-bottom: 30px; 
						position: relative;
						&:before{
					    content: '';
					    position: absolute;
					    left: 11%;
					    top: 11px;
					    height: 50px;
					    display: inline-block;
					    background: url(images/lines_white.png);
					    width: 100px;
						}
						&:after{
					    content: '';
					    position: absolute;
					    right: 10%;
					    top: 11px;
					    height: 50px;
					    display: inline-block;
					    background: url(images/lines_white.png);
					    width: 100px;
					    -webkit-transform: rotate(180deg);
					    -moz-transform: rotate(180deg);
					    -o-transform: rotate(180deg);
					    -ms-transform: rotate(180deg);
						}						
					}
					p{
						font-family: $helvetica;
						font-size: 14px;
						color: white;
						line-height: 35px;
					}
					.button{
						padding: 10px 35px;
						background: transparent;
						border: 2px solid white;
						color: white;
						font-family: $work;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 16px;
						margin-top: 40px;
						display: inline-block;
					}
				}
			}					
		}
	}
}