@media screen and (max-width: 1400px){
  .site-header {
    .main-navigation {
      .menu-main-container{
        /*width: 75%;*/
      }
    }
  }
}
@media screen and (max-width: 1150px){
  .site-header {
    .contact{
      text-align: right;
    }
    .main-navigation {
      .menu-main-container {
        width: 80%;
        ul {
          li{
            padding: 0 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px){
  .site-header {
    height: 65px;
    background: #404040;
    border-bottom: 1px solid white;
    position: relative;
    top: -3px;
    .contact{
      display: none;
    }
    .site-branding{
      width: 300px;
      &:before{
        height: 360px;
      }
      a{
        img{
          width: 150px;
          height: auto;
        }
      }
    }
    .main-navigation {
      top: 0;
      height: 65px;
      overflow: hidden;
      .toggle{
        display: inline-block;
      }
      .menu-main-container {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;     
        ul{
          position: relative;
          top: 110px;
          margin: 0;
          padding: 0;
          li{
            padding: 0;
            width: 100%;
            text-align: center;
            font-size: 22px;
            border-left: none;
            border-bottom: 1px solid rgba(255,255,255,.1);
          }
        }   
      }
      .request{
        display: none;
      }
    }
  }
  #content {
    .row {
      .col-sm-12 {
        .master-slider {
          .ms-slide-info{
            width: 100%;
            .ms-info{
              height: 60%;
              .top{
                font-size: 35px;
              }
              .middle{
                font-size: 50px;
              }
              .bottom{
                font-size: 25px; 
              }       
            }
            &:after{
              width: 150%;
              left: -50%;
            }
          }
        }
      }
    }
  }
  #second {
    .top_area {
      .background_image{
        height: 350px;
      }
    }
    .content_section {
      .text_section {
        .entry-title{
          &:before{
            display: none;
          }
          &:after{
            display: none;
          }
        }
        aside#secondary {
          .widget-title{
            &:before{
              display: none;
            }
            &:after{
              display: none;
            }
          }
        }
        .entry-content{
          width: 90%;
          margin: 0 auto;
          display: block;
          float: none;
        }
        aside#secondary{
          width: 90%;
          margin: 0 auto;
          display: block;
          float: none;
        }
      }
    }
  }
}
@media screen and (max-width: 750px){
  .site-header {
    .site-branding{
      width: 200px;
      &:before{
        display: none;
      }
      a{
        background: url(images/pattern.png) repeat;
        padding: 5px;
        border-right: 7px solid #014a6a;
        border-radius: 0 0 20px 0;
        border-bottom: 7px solid #014a6a;
        img{
          width: 100px;
          height: auto;
        }
      }
    }
  }
  #content {
    .row {
      .col-sm-12 {
        .master-slider {
          .ms-slide-info {
            .ms-info{
              right: 0;
              text-align: center;
              .top{
                font-size: 22px;
              } 
              .middle{
                font-size: 35px;
              }
              .bottom{
                font-size: 18px;
              }
            }
          }
          .ms-container {
            .ms-inner-controls-cont {
              .ms-bullets.ms-bullets{
                .ms-bullt{
                  width: 100%;
                }

              }
            }
          }
        }
        .content-section {
          .text-section {
            .title{
              font-size: 40px;
              &:before{
                display: none;
              }
              &:after{
                display: none;  
              }
            }
            p{
              text-align: justify; 
            }
            .button{
              width: 100%;
              text-align: center; 
            }
            ul {
              li{
                width: 90%;
                margin-bottom: 50px;
              }
            }
          }         
        }
        .blue_bg {
         .text-section {
            .title{
              font-size: 40px;
              &:before{
                display: none;
              }
              &:after{
                display: none;  
              }
            }
            p{
              text-align: justify; 
            }
            .button{
              width: 100%;
              text-align: center; 
            }
          }
        }         
      }
    }
  }
  .site-footer {
    .site-info {
      .logo{
        width: 65%;
        img{
          width: 100%;
          height: auto;
          max-width: 200px;
        }
      }
      .contact{
        width: 100%;
        text-align:center;
        border-left: none;
        margin-top: 35px; 
      }
      .footer-nav{
        width: 100%;
        text-align:center;
        padding: 0;
        border-left: none;  
      }
      .quote{
        width: 100%;
        text-align:center;
        padding: 0;
        border-left: none;  
      }      
    }
  }
}