.skip-link{
	position: absolute;
	top: -25px;
}
.site-header{
	margin-bottom: -134px;
	position: relative;
	z-index: 1;
	.site-branding{
    width: 400px;
    display: inline-block;
    position: relative;
    z-index: 11;
    &.fixed{
    	position: fixed;
    }
    a{
	    display: inline-block;
	    padding: 10px;
	    position: relative;
	    z-index: 10;
    }
	  &:before{
			content: '';
	    display: inline-block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 97%;
	    height: 400px;
	    z-index: 10;
	    background: url(images/logo_bg.png) no-repeat;
	    background-size: 100% 100%;
	  }	
	}
	.contact{
		display: inline-block;
		width: 100%;
		position: absolute;
		@include linearGradient(#001332, #0c4d78);
		left: 0;
		z-index: 10;
		text-align: center;
		padding: 20px 20px;
		border-bottom: 1px solid white;
		.contact_info{
			display: inline-block;
			.text{
				color: white;
				display: inline-block;
				text-transform: uppercase;
				font-family: $work;
				font-weight: 400;
				font-size: 20px;
				letter-spacing: 1px;
			}
			.phone{
				display: inline-block;
				font-family: $work;
				font-weight: 700;
				color: white;
				font-size: 20px;
			}
			.email{
				display: inline-block;
				font-family: $work;
				font-weight: 700;
				font-size: 20px;
				color: white;
				opacity: .5;
				text-transform: uppercase;
			}
		}
	}
	.main-navigation{
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 100%;
    top: 70px;
    left: 0;
    right: 0;
    /*@include linearGradient(#001332, #0c4d78);*/
    background: #404040;
    border-bottom: 3px solid white;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    &.active{
    	height: 100vh;
    	position: fixed;
    	.request{
		    display: inline-block;
		    position: absolute;
		    top: 65vh;
		    left: 00;
		    text-align: center;
		    font-size: 20px;
		    right: 0;
		    border-radius: 0;
		    padding: 20px;
    	}
    }
    .toggle{
    	display: none;
    	width: 50px;
    	height: 40px;
    	position: absolute;
    	right: 12px;
    	top: 15px;
    	padding: 3px 0; 
    	cursor: pointer;
    	z-index: 10; 
    	span{
    		width: 100%;
    		background: white;
    		height: 5px;
    		margin-bottom:5px;
    		display: block;
    		vertical-align: top;
    	} 
    }
    .menu-main-container{
    	text-align: right;
    	display: inline-block;
    	width: 82%;
    	height: 100%;
    	ul{
	    	list-style: none;
	    	margin-bottom: 0;
	    	&:hover{
	    		li{
	    			a{
	    				opacity: .25;
	    			}
	    		}
	    	}
	    	li{
	    		display: inline-block;
	    		padding: 0 30px;
	    		margin: 0 -2px; 
	    		border-right: 1px solid rgba(0,0,0,.15);
	    		border-left: 1px solid rgba(255,255,255,.15);
	    		&:first-of-type{
	    			border-left: 0;
	    		}
	    		&:last-of-type{
	    			border-right: 0;
	    		}
	    		&.current-menu-item{
	    			a{
	    				opacity: 1;
	    			}
	    		}
	    		a{
	    			color: white;
	    			line-height: 65px;
	    			display: inline-block;
	    			text-transform: uppercase;
						font-weight: bold;  
						opacity: .5;
						-webkit-transition: .2s;
						-ms-transition: .2s;
						-o-transition: .2s;
						-moz-transition: .2s;
						&:hover{
							opacity: 1;
							text-decoration: none; 
						}  			
	    		}
	    	}
	    }
    }
    .request{
    	float: right;
    	position: relative;
    	top: 15px;
    	right: 15px;
			text-transform: uppercase;
			font-weight: bold;
			padding: 10px 20px;
			background: white;
			color: #014a6a;
			border-radius: 20px;
			font-size: 12px;
    }
  }
}