#second{
	.top_area{
		display: inline-block;
		width: 100%;
		position: relative;
		top: 0;
		.background_image{
			height: 250px;
			overflow: hidden;
			img{
				width: 100%;
				max-width: 100%;
				position: relative;
			}
		}
	}
	.content_section{
		position: relative;
		top: -160px;
		max-width: 1000px; 
		display: block;
		margin: 0 auto;
		h2{
			font-family: $work;
			font-weight: 700;
			color: white;
			text-transform: uppercase;
			font-size: 50px;
			text-align:center;
			&:before{
		    content: '';
		    position: absolute;
		    left: 20%;
		    top: 9px;
		    height: 50px;
		    display: inline-block;
		    background: url(images/lines_white.png);
		    width: 100px;
			}
			&:after{
		    content: '';
		    position: absolute;
		    right: 19%;
		    top: 9px;
		    height: 50px;
		    display: inline-block;
		    background: url(images/lines_white.png);
		    width: 100px;
		    -webkit-transform: rotate(180deg);
		    -moz-transform: rotate(180deg);
		    -o-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
			}				
		}
		.text_section{
			position: relative;
			.entry-title{
				margin-bottom: 200px;
			}
			h3.entry-title{
				margin-bottom: 0;
			}
			.entry-content{
				display: inline-block;
				width: 68%;
				text-align: justify;
				float: left;
				h3{
					font-family: $work;
					font-weight: 700;
					color: #014a6a;
					text-transform: uppercase;
					font-size: 30px;
					margin-bottom: 25px;
					text-align:left;
				}
				p{
					.logo_large{
						width: 200px;
						height: auto;
						float: left;
						padding-right: 25px;
					}
					line-height: 28px;	
					.button{
						display: inline-block;
						width: 100%;
						padding: 15px;
						background:#014a6a;
						color: white;
						font-family: $work;
						font-weight: 700;
						text-transform: uppercase;
						text-align: center;
						font-size: 16px;
						margin-top: 50px;
					}
				}
				div[role="form"]{
					form{
						display: block;
						width: 100%;
						position: relative;
						p{
							position: relative;
							label{
								font-family: $work;
								font-weight: 700;
								font-size: 12px;
							}
							input{
						    width: 100%;
						    background: transparent;
						    border: 1px solid rgba(0,0,0,.15);
						    height: 35px;
						    padding: 15px;
								font-family: $work;
								font-weight: 300;
							}
							textarea{
						    width: 100%;
						    background: transparent;
						    border: 1px solid rgba(0,0,0,.15);
						    height: 100px;
						    padding: 15px;
								font-family: $work;
								font-weight: 300;
							}		
							input[type="submit"]{
								display: inline-block;
								padding: 0;
								font-weight: 700;
								text-transform: uppercase;
								background: #014a6a;
								color: white;
								margin-top: 20px;
							}
							.ajax-loader{
								position: absolute;
							}
						}
					}
				}				
			}
			aside#secondary{
				display: inline-block;
				float: right;
				width: 25%;
				.widget-title{
					font-family: $work;
					font-weight: 700;
					color: #014a6a;
					text-transform: uppercase;
					font-size: 25px;
					text-align:left;
				}
				section{
					margin-bottom: 35px;
					padding-bottom: 35px;
					border-bottom: 1px solid rgba(00,00,00,.1);
					&:last-of-type{
						border-bottom: none;
					}					
					.textwidget{
						.contact{
							list-style: none;
							margin: 0;
							padding: 0;
							li{
								display: inline-block;
								width: 100%;
								font-weight: bold;
								border-bottom: 1px solid rgba(0,0,0,.15);
								padding: 10px 0 10px 15px;
								color: rgba(0,0,0,.65);
								&:last-of-type{
									border-bottom: none;
								}
							} 
						}
					}
				}
				form[role="search"]{
					display: block;
					width: 100%;
					position: relative;
					label{
						display: inline-block;
						width: 100%;
						&:after{
							content: "\f002";
							font: normal normal normal 14px/1 FontAwesome;
							position: absolute;
							top: 10px;
							right: 10px;
						}
						.screen-reader-text{
							display: none;
						}
						input{
							display: inline-block;
							width: 100%;
							border: 1px solid rgba(0,0,0,.15);
							height: 35px;
							padding: 15px;
							font-family: $work;
							font-weight: 300;
						}
					}
					input[type="submit"]{
						position: absolute;
						text-indent: -9999px;
						border: none;
						background: transparent;    
						top: 0;
						right: 0;
						height: 35px;
						width: 35px;
					}
				}
				div[role="form"]{
					form{
						display: block;
						width: 100%;
						position: relative;
						p{
							position: relative;
							label{
								font-family: $work;
								font-weight: 700;
								font-size: 12px;
							}
							input{
						    width: 100%;
						    background: transparent;
						    border: 1px solid rgba(0,0,0,.15);
						    height: 35px;
						    padding: 15px;
								font-family: $work;
								font-weight: 300;
							}
							textarea{
						    width: 100%;
						    background: transparent;
						    border: 1px solid rgba(0,0,0,.15);
						    height: 100px;
						    padding: 15px;
								font-family: $work;
								font-weight: 300;
							}		
							input[type="submit"]{
								display: inline-block;
								padding: 0;
								font-weight: 700;
								text-transform: uppercase;
								background: #014a6a;
								color: white;
								margin-top: 20px;
							}
							.ajax-loader{
								position: absolute;
							}
						}
					}
				}
			}
		}
	}
}