/* line 1, sass/main.scss */
html {
  height: 100%;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
}

/* line 7, sass/main.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: relative;
}
