@media screen and (max-width: 1400px) {
  /* line 4, sass/media.scss */
  .site-header .main-navigation .menu-main-container {
    /*width: 75%;*/
  }
}
@media screen and (max-width: 1150px) {
  /* line 12, sass/media.scss */
  .site-header .contact {
    text-align: right;
  }
  /* line 16, sass/media.scss */
  .site-header .main-navigation .menu-main-container {
    width: 80%;
  }
  /* line 19, sass/media.scss */
  .site-header .main-navigation .menu-main-container ul li {
    padding: 0 20px;
  }
}
@media screen and (max-width: 980px) {
  /* line 28, sass/media.scss */
  .site-header {
    height: 65px;
    background: #404040;
    border-bottom: 1px solid white;
    position: relative;
    top: -3px;
  }
  /* line 34, sass/media.scss */
  .site-header .contact {
    display: none;
  }
  /* line 37, sass/media.scss */
  .site-header .site-branding {
    width: 300px;
  }
  /* line 39, sass/media.scss */
  .site-header .site-branding:before {
    height: 360px;
  }
  /* line 43, sass/media.scss */
  .site-header .site-branding a img {
    width: 150px;
    height: auto;
  }
  /* line 49, sass/media.scss */
  .site-header .main-navigation {
    top: 0;
    height: 65px;
    overflow: hidden;
  }
  /* line 53, sass/media.scss */
  .site-header .main-navigation .toggle {
    display: inline-block;
  }
  /* line 56, sass/media.scss */
  .site-header .main-navigation .menu-main-container {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
  }
  /* line 61, sass/media.scss */
  .site-header .main-navigation .menu-main-container ul {
    position: relative;
    top: 110px;
    margin: 0;
    padding: 0;
  }
  /* line 66, sass/media.scss */
  .site-header .main-navigation .menu-main-container ul li {
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  /* line 76, sass/media.scss */
  .site-header .main-navigation .request {
    display: none;
  }

  /* line 85, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info {
    width: 100%;
  }
  /* line 87, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info {
    height: 60%;
  }
  /* line 89, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .top {
    font-size: 35px;
  }
  /* line 92, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .middle {
    font-size: 50px;
  }
  /* line 95, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .bottom {
    font-size: 25px;
  }
  /* line 99, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info:after {
    width: 150%;
    left: -50%;
  }

  /* line 110, sass/media.scss */
  #second .top_area .background_image {
    height: 350px;
  }
  /* line 117, sass/media.scss */
  #second .content_section .text_section .entry-title:before {
    display: none;
  }
  /* line 120, sass/media.scss */
  #second .content_section .text_section .entry-title:after {
    display: none;
  }
  /* line 126, sass/media.scss */
  #second .content_section .text_section aside#secondary .widget-title:before {
    display: none;
  }
  /* line 129, sass/media.scss */
  #second .content_section .text_section aside#secondary .widget-title:after {
    display: none;
  }
  /* line 134, sass/media.scss */
  #second .content_section .text_section .entry-content {
    width: 90%;
    margin: 0 auto;
    display: block;
    float: none;
  }
  /* line 140, sass/media.scss */
  #second .content_section .text_section aside#secondary {
    width: 90%;
    margin: 0 auto;
    display: block;
    float: none;
  }
}
@media screen and (max-width: 750px) {
  /* line 152, sass/media.scss */
  .site-header .site-branding {
    width: 200px;
  }
  /* line 154, sass/media.scss */
  .site-header .site-branding:before {
    display: none;
  }
  /* line 157, sass/media.scss */
  .site-header .site-branding a {
    background: url(images/pattern.png) repeat;
    padding: 5px;
    border-right: 7px solid #014a6a;
    border-radius: 0 0 20px 0;
    border-bottom: 7px solid #014a6a;
  }
  /* line 163, sass/media.scss */
  .site-header .site-branding a img {
    width: 100px;
    height: auto;
  }

  /* line 175, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info {
    right: 0;
    text-align: center;
  }
  /* line 178, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .top {
    font-size: 22px;
  }
  /* line 181, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .middle {
    font-size: 35px;
  }
  /* line 184, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .bottom {
    font-size: 18px;
  }
  /* line 192, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-bullets.ms-bullets .ms-bullt {
    width: 100%;
  }
  /* line 202, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .title {
    font-size: 40px;
  }
  /* line 204, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .title:before {
    display: none;
  }
  /* line 207, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .title:after {
    display: none;
  }
  /* line 211, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section p {
    text-align: justify;
  }
  /* line 214, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .button {
    width: 100%;
    text-align: center;
  }
  /* line 219, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section ul li {
    width: 90%;
    margin-bottom: 50px;
  }
  /* line 228, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .title {
    font-size: 40px;
  }
  /* line 230, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .title:before {
    display: none;
  }
  /* line 233, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .title:after {
    display: none;
  }
  /* line 237, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section p {
    text-align: justify;
  }
  /* line 240, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .button {
    width: 100%;
    text-align: center;
  }

  /* line 251, sass/media.scss */
  .site-footer .site-info .logo {
    width: 65%;
  }
  /* line 253, sass/media.scss */
  .site-footer .site-info .logo img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
  /* line 259, sass/media.scss */
  .site-footer .site-info .contact {
    width: 100%;
    text-align: center;
    border-left: none;
    margin-top: 35px;
  }
  /* line 265, sass/media.scss */
  .site-footer .site-info .footer-nav {
    width: 100%;
    text-align: center;
    padding: 0;
    border-left: none;
  }
  /* line 271, sass/media.scss */
  .site-footer .site-info .quote {
    width: 100%;
    text-align: center;
    padding: 0;
    border-left: none;
  }
}
