/* line 1, sass/main.scss */
html {
  height: 100%;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
}

/* line 7, sass/main.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: relative;
}

/* line 1, sass/navigation.scss */
.skip-link {
  position: absolute;
  top: -25px;
}

/* line 5, sass/navigation.scss */
.site-header {
  margin-bottom: -134px;
  position: relative;
  z-index: 1;
}
/* line 9, sass/navigation.scss */
.site-header .site-branding {
  width: 400px;
  display: inline-block;
  position: relative;
  z-index: 11;
}
/* line 14, sass/navigation.scss */
.site-header .site-branding.fixed {
  position: fixed;
}
/* line 17, sass/navigation.scss */
.site-header .site-branding a {
  display: inline-block;
  padding: 10px;
  position: relative;
  z-index: 10;
}
/* line 23, sass/navigation.scss */
.site-header .site-branding:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 400px;
  z-index: 10;
  background: url(images/logo_bg.png) no-repeat;
  background-size: 100% 100%;
}
/* line 36, sass/navigation.scss */
.site-header .contact {
  display: inline-block;
  width: 100%;
  position: absolute;
  background: #001332;
  /* Old browsers */
  background: -moz-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001332), color-stop(100%, #0c4d78));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #001332 0%, #0c4d78 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a77fcb', endColorstr='#4f0097',GradientType=0 );
  /* IE6-9 */
  left: 0;
  z-index: 10;
  text-align: center;
  padding: 20px 20px;
  border-bottom: 1px solid white;
}
/* line 46, sass/navigation.scss */
.site-header .contact .contact_info {
  display: inline-block;
}
/* line 48, sass/navigation.scss */
.site-header .contact .contact_info .text {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
}
/* line 57, sass/navigation.scss */
.site-header .contact .contact_info .phone {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
}
/* line 64, sass/navigation.scss */
.site-header .contact .contact_info .email {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  opacity: .5;
  text-transform: uppercase;
}
/* line 75, sass/navigation.scss */
.site-header .main-navigation {
  position: absolute;
  z-index: 0;
  display: inline-block;
  width: 100%;
  top: 70px;
  left: 0;
  right: 0;
  /*@include linearGradient(#001332, #0c4d78);*/
  background: #404040;
  border-bottom: 3px solid white;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
/* line 90, sass/navigation.scss */
.site-header .main-navigation.active {
  height: 100vh;
  position: fixed;
}
/* line 93, sass/navigation.scss */
.site-header .main-navigation.active .request {
  display: inline-block;
  position: absolute;
  top: 65vh;
  left: 00;
  text-align: center;
  font-size: 20px;
  right: 0;
  border-radius: 0;
  padding: 20px;
}
/* line 105, sass/navigation.scss */
.site-header .main-navigation .toggle {
  display: none;
  width: 50px;
  height: 40px;
  position: absolute;
  right: 12px;
  top: 15px;
  padding: 3px 0;
  cursor: pointer;
  z-index: 10;
}
/* line 115, sass/navigation.scss */
.site-header .main-navigation .toggle span {
  width: 100%;
  background: white;
  height: 5px;
  margin-bottom: 5px;
  display: block;
  vertical-align: top;
}
/* line 124, sass/navigation.scss */
.site-header .main-navigation .menu-main-container {
  text-align: right;
  display: inline-block;
  width: 82%;
  height: 100%;
}
/* line 129, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul {
  list-style: none;
  margin-bottom: 0;
}
/* line 134, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul:hover li a {
  opacity: .25;
}
/* line 139, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul li {
  display: inline-block;
  padding: 0 30px;
  margin: 0 -2px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 145, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul li:first-of-type {
  border-left: 0;
}
/* line 148, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul li:last-of-type {
  border-right: 0;
}
/* line 152, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul li.current-menu-item a {
  opacity: 1;
}
/* line 156, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul li a {
  color: white;
  line-height: 65px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  opacity: .5;
  -webkit-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
}
/* line 167, sass/navigation.scss */
.site-header .main-navigation .menu-main-container ul li a:hover {
  opacity: 1;
  text-decoration: none;
}
/* line 175, sass/navigation.scss */
.site-header .main-navigation .request {
  float: right;
  position: relative;
  top: 15px;
  right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  background: white;
  color: #014a6a;
  border-radius: 20px;
  font-size: 12px;
}

/* line 1, sass/home.scss */
#content {
  position: relative;
  z-index: 0;
}
/* line 6, sass/home.scss */
#content .row .col-sm-12 .master-slider {
  height: 80vh;
  min-height: 400px;
}
/* line 9, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container {
  height: inherit;
  min-height: 400px;
}
/* line 12, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont {
  height: inherit;
  min-height: 400px;
  max-width: 100% !important;
}
/* line 16, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-bullets {
  bottom: -25px !important;
  width: 100% !important;
  left: 0%;
  right: 0;
}
/* line 21, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-bullets .ms-bullets-count {
  right: 0 !important;
}
/* line 23, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-bullets .ms-bullets-count .ms-bullet {
  background: #014a6a;
  width: 24.65%;
  margin: 5px .15% !important;
  opacity: .25;
  height: 15px;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
}
/* line 33, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-bullets .ms-bullets-count .ms-bullet.ms-bullet-selected {
  opacity: 1;
}
/* line 39, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-view {
  height: inherit !important;
  min-height: 400px;
  left: 0 !important;
}
/* line 43, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-container {
  height: inherit !important;
  min-height: 400px;
}
/* line 46, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-container .ms-slide {
  height: inherit !important;
  min-height: 400px;
}
/* line 50, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-container .ms-slide .ms-slide-bgcont img {
  position: relative;
}
/* line 59, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info {
  position: absolute !important;
  min-height: 100% !important;
  top: 0;
  margin-top: 0 !important;
  width: 70%;
  right: 0;
  height: 100%;
}
/* line 67, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info .ms-info {
  height: 50%;
  width: 100%;
  display: inline-block;
  position: absolute !important;
  z-index: 10;
  color: white;
  text-align: right;
  bottom: 0;
  right: 50px;
  line-height: 60px;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
}
/* line 80, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .top {
  font-weight: 200;
  display: block;
  font-size: 45px;
}
/* line 85, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .middle {
  font-size: 65px;
  font-weight: 900;
  display: block;
  letter-spacing: -1px;
}
/* line 91, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .bottom {
  font-size: 30px;
  font-weight: 200;
  display: block;
}
/* line 96, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info .ms-info a {
  color: white;
  font-weight: 700;
  font-size: 16px;
  opacity: .5;
}
/* line 101, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info .ms-info a:hover {
  opacity: 1;
  text-decoration: none;
}
/* line 105, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info .ms-info a:after {
  content: "\f054";
  font: normal normal normal 12px/1 FontAwesome;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}
/* line 114, sass/home.scss */
#content .row .col-sm-12 .master-slider .ms-slide-info:after {
  content: '';
  background: url(images/blue_bg.png) no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  top: -75%;
  left: 0;
  width: 100%;
  height: 175%;
}
/* line 127, sass/home.scss */
#content .row .col-sm-12 .content-section {
  background: url(images/pattern.png);
  background-color: black;
  padding: 125px 0;
  text-align: center;
}
/* line 132, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
/* line 137, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section ul {
  width: 125%;
  left: -12.5%;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 144, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section ul li {
  width: 33.3%;
  display: inline-block;
  margin: -3px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 149, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section ul li:last-of-type {
  border-right: none;
}
/* line 152, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section ul li .title {
  font-size: 30px;
  letter-spacing: 0;
  margin-top: 25px;
  margin-bottom: 15px;
  letter-spacing: -1px;
}
/* line 158, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section ul li .title:after {
  display: none;
}
/* line 161, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section ul li .title:before {
  display: none;
}
/* line 165, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section ul li p {
  width: 90%;
  display: block;
  margin: 0 auto;
}
/* line 172, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section .title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #014a6a;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  position: relative;
}
/* line 181, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section .title:before {
  content: '';
  position: absolute;
  left: 13%;
  top: 12px;
  height: 50px;
  display: inline-block;
  background: url(images/lines.png);
  width: 100px;
}
/* line 191, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section .title:after {
  content: '';
  position: absolute;
  right: 12.5%;
  top: 12px;
  height: 50px;
  display: inline-block;
  background: url(images/lines.png);
  width: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
/* line 206, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #404040;
  line-height: 35px;
}
/* line 212, sass/home.scss */
#content .row .col-sm-12 .content-section .text-section .button {
  padding: 10px 35px;
  background: #014a6a;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 40px;
  display: inline-block;
}
/* line 225, sass/home.scss */
#content .row .col-sm-12 .blue_bg {
  background: url(images/middle_bg.png);
  background-attachment: fixed;
  padding: 125px 0;
  background-size: cover;
  text-align: center;
}
/* line 231, sass/home.scss */
#content .row .col-sm-12 .blue_bg .text-section {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
/* line 236, sass/home.scss */
#content .row .col-sm-12 .blue_bg .text-section .title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  position: relative;
}
/* line 245, sass/home.scss */
#content .row .col-sm-12 .blue_bg .text-section .title:before {
  content: '';
  position: absolute;
  left: 11%;
  top: 11px;
  height: 50px;
  display: inline-block;
  background: url(images/lines_white.png);
  width: 100px;
}
/* line 255, sass/home.scss */
#content .row .col-sm-12 .blue_bg .text-section .title:after {
  content: '';
  position: absolute;
  right: 10%;
  top: 11px;
  height: 50px;
  display: inline-block;
  background: url(images/lines_white.png);
  width: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
/* line 270, sass/home.scss */
#content .row .col-sm-12 .blue_bg .text-section p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: white;
  line-height: 35px;
}
/* line 276, sass/home.scss */
#content .row .col-sm-12 .blue_bg .text-section .button {
  padding: 10px 35px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 40px;
  display: inline-block;
}

/* line 2, sass/second.scss */
#second .top_area {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 0;
}
/* line 7, sass/second.scss */
#second .top_area .background_image {
  height: 250px;
  overflow: hidden;
}
/* line 10, sass/second.scss */
#second .top_area .background_image img {
  width: 100%;
  max-width: 100%;
  position: relative;
}
/* line 17, sass/second.scss */
#second .content_section {
  position: relative;
  top: -160px;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
/* line 23, sass/second.scss */
#second .content_section h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}
/* line 30, sass/second.scss */
#second .content_section h2:before {
  content: '';
  position: absolute;
  left: 20%;
  top: 9px;
  height: 50px;
  display: inline-block;
  background: url(images/lines_white.png);
  width: 100px;
}
/* line 40, sass/second.scss */
#second .content_section h2:after {
  content: '';
  position: absolute;
  right: 19%;
  top: 9px;
  height: 50px;
  display: inline-block;
  background: url(images/lines_white.png);
  width: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
/* line 55, sass/second.scss */
#second .content_section .text_section {
  position: relative;
}
/* line 57, sass/second.scss */
#second .content_section .text_section .entry-title {
  margin-bottom: 200px;
}
/* line 60, sass/second.scss */
#second .content_section .text_section h3.entry-title {
  margin-bottom: 0;
}
/* line 63, sass/second.scss */
#second .content_section .text_section .entry-content {
  display: inline-block;
  width: 68%;
  text-align: justify;
  float: left;
}
/* line 68, sass/second.scss */
#second .content_section .text_section .entry-content h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #014a6a;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: left;
}
/* line 77, sass/second.scss */
#second .content_section .text_section .entry-content p {
  line-height: 28px;
}
/* line 78, sass/second.scss */
#second .content_section .text_section .entry-content p .logo_large {
  width: 200px;
  height: auto;
  float: left;
  padding-right: 25px;
}
/* line 85, sass/second.scss */
#second .content_section .text_section .entry-content p .button {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background: #014a6a;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
}
/* line 100, sass/second.scss */
#second .content_section .text_section .entry-content div[role="form"] form {
  display: block;
  width: 100%;
  position: relative;
}
/* line 104, sass/second.scss */
#second .content_section .text_section .entry-content div[role="form"] form p {
  position: relative;
}
/* line 106, sass/second.scss */
#second .content_section .text_section .entry-content div[role="form"] form p label {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
/* line 111, sass/second.scss */
#second .content_section .text_section .entry-content div[role="form"] form p input {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 35px;
  padding: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
/* line 120, sass/second.scss */
#second .content_section .text_section .entry-content div[role="form"] form p textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 100px;
  padding: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
/* line 129, sass/second.scss */
#second .content_section .text_section .entry-content div[role="form"] form p input[type="submit"] {
  display: inline-block;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  background: #014a6a;
  color: white;
  margin-top: 20px;
}
/* line 138, sass/second.scss */
#second .content_section .text_section .entry-content div[role="form"] form p .ajax-loader {
  position: absolute;
}
/* line 145, sass/second.scss */
#second .content_section .text_section aside#secondary {
  display: inline-block;
  float: right;
  width: 25%;
}
/* line 149, sass/second.scss */
#second .content_section .text_section aside#secondary .widget-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #014a6a;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
}
/* line 157, sass/second.scss */
#second .content_section .text_section aside#secondary section {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 161, sass/second.scss */
#second .content_section .text_section aside#secondary section:last-of-type {
  border-bottom: none;
}
/* line 165, sass/second.scss */
#second .content_section .text_section aside#secondary section .textwidget .contact {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 169, sass/second.scss */
#second .content_section .text_section aside#secondary section .textwidget .contact li {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 0 10px 15px;
  color: rgba(0, 0, 0, 0.65);
}
/* line 176, sass/second.scss */
#second .content_section .text_section aside#secondary section .textwidget .contact li:last-of-type {
  border-bottom: none;
}
/* line 183, sass/second.scss */
#second .content_section .text_section aside#secondary form[role="search"] {
  display: block;
  width: 100%;
  position: relative;
}
/* line 187, sass/second.scss */
#second .content_section .text_section aside#secondary form[role="search"] label {
  display: inline-block;
  width: 100%;
}
/* line 190, sass/second.scss */
#second .content_section .text_section aside#secondary form[role="search"] label:after {
  content: "\f002";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 197, sass/second.scss */
#second .content_section .text_section aside#secondary form[role="search"] label .screen-reader-text {
  display: none;
}
/* line 200, sass/second.scss */
#second .content_section .text_section aside#secondary form[role="search"] label input {
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 35px;
  padding: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
/* line 210, sass/second.scss */
#second .content_section .text_section aside#secondary form[role="search"] input[type="submit"] {
  position: absolute;
  text-indent: -9999px;
  border: none;
  background: transparent;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
}
/* line 222, sass/second.scss */
#second .content_section .text_section aside#secondary div[role="form"] form {
  display: block;
  width: 100%;
  position: relative;
}
/* line 226, sass/second.scss */
#second .content_section .text_section aside#secondary div[role="form"] form p {
  position: relative;
}
/* line 228, sass/second.scss */
#second .content_section .text_section aside#secondary div[role="form"] form p label {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
/* line 233, sass/second.scss */
#second .content_section .text_section aside#secondary div[role="form"] form p input {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 35px;
  padding: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
/* line 242, sass/second.scss */
#second .content_section .text_section aside#secondary div[role="form"] form p textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 100px;
  padding: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
/* line 251, sass/second.scss */
#second .content_section .text_section aside#secondary div[role="form"] form p input[type="submit"] {
  display: inline-block;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  background: #014a6a;
  color: white;
  margin-top: 20px;
}
/* line 260, sass/second.scss */
#second .content_section .text_section aside#secondary div[role="form"] form p .ajax-loader {
  position: absolute;
}

/* line 1, sass/footer.scss */
.site-footer {
  background: #001332;
  /* Old browsers */
  background: -moz-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001332), color-stop(100%, #0c4d78));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #001332 0%, #0c4d78 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #001332 0%, #0c4d78 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a77fcb', endColorstr='#4f0097',GradientType=0 );
  /* IE6-9 */
}
/* line 3, sass/footer.scss */
.site-footer .site-info {
  padding: 35px 0;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
/* line 10, sass/footer.scss */
.site-footer .site-info .logo {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  height: 195px;
}
/* line 16, sass/footer.scss */
.site-footer .site-info .contact {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  border-left: 1px solid white;
  padding: 25px 30px;
  margin: 0;
  width: 30%;
  text-align: left;
  padding-left: 25px;
  height: 195px;
}
/* line 29, sass/footer.scss */
.site-footer .site-info .contact .top {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
/* line 34, sass/footer.scss */
.site-footer .site-info .contact .bottom {
  font-size: 25px;
  line-height: 22px;
}
/* line 37, sass/footer.scss */
.site-footer .site-info .contact .bottom a {
  font-size: 18px;
  color: white;
  opacity: .5;
  text-decoration: underline;
}
/* line 42, sass/footer.scss */
.site-footer .site-info .contact .bottom a:hover {
  opacity: 1;
}
/* line 48, sass/footer.scss */
.site-footer .site-info .footer-nav {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: left;
  padding-left: 25px;
  border-left: 1px solid white;
  height: 195px;
}
/* line 56, sass/footer.scss */
.site-footer .site-info .footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 60, sass/footer.scss */
.site-footer .site-info .footer-nav ul li {
  padding: 10px 0;
}
/* line 62, sass/footer.scss */
.site-footer .site-info .footer-nav ul li a {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
}
/* line 72, sass/footer.scss */
.site-footer .site-info .quote {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  text-align: left;
  padding-left: 25px;
  border-left: 1px solid white;
  height: 195px;
}
/* line 80, sass/footer.scss */
.site-footer .site-info .quote h1 {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: -1px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
/* line 88, sass/footer.scss */
.site-footer .site-info .quote p {
  color: white;
}
/* line 91, sass/footer.scss */
.site-footer .site-info .quote a {
  padding: 10px 35px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}

@media screen and (max-width: 1400px) {
  /* line 4, sass/media.scss */
  .site-header .main-navigation .menu-main-container {
    /*width: 75%;*/
  }
}
@media screen and (max-width: 1150px) {
  /* line 12, sass/media.scss */
  .site-header .contact {
    text-align: right;
  }
  /* line 16, sass/media.scss */
  .site-header .main-navigation .menu-main-container {
    width: 80%;
  }
  /* line 19, sass/media.scss */
  .site-header .main-navigation .menu-main-container ul li {
    padding: 0 20px;
  }
}
@media screen and (max-width: 980px) {
  /* line 28, sass/media.scss */
  .site-header {
    height: 65px;
    background: #404040;
    border-bottom: 1px solid white;
    position: relative;
    top: -3px;
  }
  /* line 34, sass/media.scss */
  .site-header .contact {
    display: none;
  }
  /* line 37, sass/media.scss */
  .site-header .site-branding {
    width: 300px;
  }
  /* line 39, sass/media.scss */
  .site-header .site-branding:before {
    height: 360px;
  }
  /* line 43, sass/media.scss */
  .site-header .site-branding a img {
    width: 150px;
    height: auto;
  }
  /* line 49, sass/media.scss */
  .site-header .main-navigation {
    top: 0;
    height: 65px;
    overflow: hidden;
  }
  /* line 53, sass/media.scss */
  .site-header .main-navigation .toggle {
    display: inline-block;
  }
  /* line 56, sass/media.scss */
  .site-header .main-navigation .menu-main-container {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
  }
  /* line 61, sass/media.scss */
  .site-header .main-navigation .menu-main-container ul {
    position: relative;
    top: 110px;
    margin: 0;
    padding: 0;
  }
  /* line 66, sass/media.scss */
  .site-header .main-navigation .menu-main-container ul li {
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  /* line 76, sass/media.scss */
  .site-header .main-navigation .request {
    display: none;
  }

  /* line 85, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info {
    width: 100%;
  }
  /* line 87, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info {
    height: 60%;
  }
  /* line 89, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .top {
    font-size: 35px;
  }
  /* line 92, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .middle {
    font-size: 50px;
  }
  /* line 95, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .bottom {
    font-size: 25px;
  }
  /* line 99, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info:after {
    width: 150%;
    left: -50%;
  }

  /* line 110, sass/media.scss */
  #second .top_area .background_image {
    height: 350px;
  }
  /* line 117, sass/media.scss */
  #second .content_section .text_section .entry-title:before {
    display: none;
  }
  /* line 120, sass/media.scss */
  #second .content_section .text_section .entry-title:after {
    display: none;
  }
  /* line 126, sass/media.scss */
  #second .content_section .text_section aside#secondary .widget-title:before {
    display: none;
  }
  /* line 129, sass/media.scss */
  #second .content_section .text_section aside#secondary .widget-title:after {
    display: none;
  }
  /* line 134, sass/media.scss */
  #second .content_section .text_section .entry-content {
    width: 90%;
    margin: 0 auto;
    display: block;
    float: none;
  }
  /* line 140, sass/media.scss */
  #second .content_section .text_section aside#secondary {
    width: 90%;
    margin: 0 auto;
    display: block;
    float: none;
  }
}
@media screen and (max-width: 750px) {
  /* line 152, sass/media.scss */
  .site-header .site-branding {
    width: 200px;
  }
  /* line 154, sass/media.scss */
  .site-header .site-branding:before {
    display: none;
  }
  /* line 157, sass/media.scss */
  .site-header .site-branding a {
    background: url(images/pattern.png) repeat;
    padding: 5px;
    border-right: 7px solid #014a6a;
    border-radius: 0 0 20px 0;
    border-bottom: 7px solid #014a6a;
  }
  /* line 163, sass/media.scss */
  .site-header .site-branding a img {
    width: 100px;
    height: auto;
  }

  /* line 175, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info {
    right: 0;
    text-align: center;
  }
  /* line 178, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .top {
    font-size: 22px;
  }
  /* line 181, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .middle {
    font-size: 35px;
  }
  /* line 184, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-slide-info .ms-info .bottom {
    font-size: 18px;
  }
  /* line 192, sass/media.scss */
  #content .row .col-sm-12 .master-slider .ms-container .ms-inner-controls-cont .ms-bullets.ms-bullets .ms-bullt {
    width: 100%;
  }
  /* line 202, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .title {
    font-size: 40px;
  }
  /* line 204, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .title:before {
    display: none;
  }
  /* line 207, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .title:after {
    display: none;
  }
  /* line 211, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section p {
    text-align: justify;
  }
  /* line 214, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section .button {
    width: 100%;
    text-align: center;
  }
  /* line 219, sass/media.scss */
  #content .row .col-sm-12 .content-section .text-section ul li {
    width: 90%;
    margin-bottom: 50px;
  }
  /* line 228, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .title {
    font-size: 40px;
  }
  /* line 230, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .title:before {
    display: none;
  }
  /* line 233, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .title:after {
    display: none;
  }
  /* line 237, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section p {
    text-align: justify;
  }
  /* line 240, sass/media.scss */
  #content .row .col-sm-12 .blue_bg .text-section .button {
    width: 100%;
    text-align: center;
  }

  /* line 251, sass/media.scss */
  .site-footer .site-info .logo {
    width: 65%;
  }
  /* line 253, sass/media.scss */
  .site-footer .site-info .logo img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
  /* line 259, sass/media.scss */
  .site-footer .site-info .contact {
    width: 100%;
    text-align: center;
    border-left: none;
    margin-top: 35px;
  }
  /* line 265, sass/media.scss */
  .site-footer .site-info .footer-nav {
    width: 100%;
    text-align: center;
    padding: 0;
    border-left: none;
  }
  /* line 271, sass/media.scss */
  .site-footer .site-info .quote {
    width: 100%;
    text-align: center;
    padding: 0;
    border-left: none;
  }
}
